body {
  /*background: url('../img/background/fondo_chileatiende-en-el-exterior.jpg') center top no-repeat fixed;*/
/*  background: url('../img/background/chat-ext-bg.jpg') center top no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: none !important;
}
.body-ficha-mujer {
  background: url('../img/background/chat-mujer-bg.jpg') center top no-repeat !important;
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
}
.header-mujer {
  background: url('../img/background/chat-mujer-bg.jpg') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header h3 {
  font-size: 22px;
  color: #FFF;
}
header form {
  margin-top: 30px;
}
header .row-top {
  height: 65px;
}
header .header-right .row-bottom {
  padding-bottom: initial;
}
header .header-center {
  padding-top: initial;
}
header .nav-areas .span2:first-child {
  margin-right: -40px;
}
header .nav-areas .eventos {
  width: 25%;
}
header .banner-home {
  margin: 20px;
}
.header-top {
  padding: 10px 0 15px 0;
}
.header-top .search-bar{
  text-align: right;
}
.header-search {
  text-align: center;
  padding-bottom: 10px;
}
.header-search form {
  width: auto;
  float: none;
}
.header-search form h3 {
  font-size: 22px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
header .header-top .search-bar form .main_search_input,
header .header-top .cont-busqueda form .main_search_input {
  float: none;
  /*width: 540px;*/
  /*width: 380px;*/
  width: calc(100% - 80px);
  /*height: 47px;*/
  height: 25px;
  font-size: 20px;
  border-right: none;
  border-radius: 0;
  /*border-top-left-radius: 5px;*/
  border-top-left-radius: 3px;
  /*border-bottom-left-radius: 5px;*/
  border-bottom-left-radius: 3px;
  padding-left: 15px;
  font-weight: 100;
  font-family: "gobCLRegular", Arial, Helvetica, sans-serif;
}
header .header-top form .searchbtn {
  display: inline;
  float: none;
  border: none;
  /*height: 57px;*/
  /*height: 55px;*/
  height: 33px;
  padding: 5px 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  /*background-color: #02d073;*/
  background-color: #FFFFFF;
  margin-bottom: 10px;
  margin-left: -5px;
  /*color: #ffffff;*/
  color: #02d073;
  font-size: 23px;
}
.background {
  z-index: -1;
  position: absolute;
  background-color: #000;
  filter: alpha(opacity=40);
  opacity: 0.4;
  display: block;
  height: 100%;
}
body .esPortada {
  background-color: transparent;
}
.contenedor-principal {
  padding: 5px 35px 30px;
  min-height: 520px;
}
.section-destacados{
  padding-top: 100px;
  width: calc(100% - 10px);
  text-align: left;
  margin-left: 10px;
}
.destacados-mujer-title{
  width: 120px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 6px 4px 6px 6px;
  margin-bottom: 2px;
  color: white !important;
  font-weight: bold !important;
}
.destacados-mujer{
  background-color: rgba(0, 0, 0, 0.65);
  padding: 6px 4px 6px 20px;
  margin-bottom: 2px;
}
.destacados-mujer a{
  text-decoration: none !important;
  color: white !important;
}
.destacados-mujer .fa{
  float: right !important;
  margin-right: 10px !important;
}

.titulos-accesos h3 {
  float: left;
  color: #FFF;
  font-family: "gobCLHeavy", Arial, Helvetica, sans-serif;
  font-size: 28px;
  padding: 6px 0 6px 40px;
  font-weight: normal;
}
.titulos-accesos h3.etapas {
  background: url('../img/portada/icon_bonos_servicios.png') left top no-repeat;
}
.titulos-accesos h3.puntos {
  background: url('../img/portada/icon_puntos_atencion.png') left top no-repeat;
}
.nav-principal div.span2 {
  background-color: #D1DADA;
  padding: 0px 10px 10px;
  text-align: center;
}
.nav-principal div.span2 p.tab {
  font-family: "gobCLBold", Arial, Helvetica, sans-serif;
  font-weight: initial;
  line-height: 25px;
  color: black;
  margin-top: 25px;
}
.nav-principal div.span2:hover {
  background-color: white;
}
.nav-principal div.span2[data-id="1"]{min-width: 20%;border-left: 0px solid #a2a7a7;}
.nav-principal div.span2[data-id="2"]{min-width: 23%;border-left: 1px solid #a2a7a7;}
.nav-principal div.span2[data-id="3"]{min-width: 30%;border-left: 1px solid #a2a7a7;}
.nav-principal div.span2[data-id="4"]{min-width: 27%;text-align: center;border-left: 1px solid #a2a7a7;}
.nav-principal div.span2 p.tab a {
  color: #686588;
  text-decoration: none;
  font-size: 22px;
}
.nav-principal div.span2 p.tab a:hover, .nav-principal div.span2 p.tab:hover {
  color: #000;
  cursor: pointer;
}
.nav-principal div:hover {
  background-color: #D1DADA;
}
.nav-principal div.selected {
  background-color: white;
}
.nav-principal div.selected p.tab a {
  color: #000065;
}
.nav-secundaria {
  background-color: transparent;
}
.nav-secundaria div.span3,
.nav-secundaria-movil div.span3 {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0 30px;
  border: 1px solid #DDD;
  width: 33.3%;
}
.nav-secundaria div.span3 h3,
.nav-secundaria-movil div.span3 h3 {
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  font-weight: normal;
}
.nav-secundaria div.span3 h3.apoyo,
.nav-secundaria-movil div.span3 h3.apoyo {
  color: #e20033;
}
.nav-secundaria div.span3 h2,
.nav-secundaria-movil div.span3 h2 {
  line-height: 30px;
  font-size: 24px;
  font-weight: normal;
}
.nav-secundaria div.span3 h2 a,
.nav-secundaria-movil div.span3 h2 a {
  color: #000;
  text-decoration: none;
}
.nav-secundaria div.span3 h2 a:hover,
.nav-secundaria-movil div.span3 h2 a:hover {
  color: #000;
}
.nav-secundaria div.span3:hover,
.nav-secundaria-movil div.span3:hover {
  background-color: #fff;
}
.subcontenido {
  margin-top: 30px;
  margin-bottom: 15px;
}
.subcontenido .span6 .cabecera h3 {
  color: #FFF;
  padding-left: 25px;
  font-family: "gobCLHeavy", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.subcontenido .span6 .row {
  background-color: rgba(255, 255, 255, 0.85);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d9ffffff', endColorstr='#d9ffffff')";
  /* IE */
}
.subcontenido .span6 .row ul {
  margin: 0;
}
.subcontenido .span6 .row ul li {
  list-style-type: none;
  height: 65px;
  border-bottom: 1px solid #FFF;
  padding: 5px;
  padding-top: 15px;
  padding-left: 25px;
}
.subcontenido .span6 .row ul li a {
  color: #555555;
  font-weight: bold;
  font-size: 18px;
}
.subcontenido .span6 .row ul li div.contenedor-label {
  margin: 15px;
}
.subcontenido .span6 .row ul li span.institucion {
  display: block;
  color: #0091cc;
}
.subcontenido .span6 .row ul li:hover {
  background-color: #ffffff;
}
#maincontent {
  background-color: white;
}
.label-success {
  padding: 3px 15px;
}
.paso-paso-emprendete {
  border: 1px solid #CCC;
  padding: 0px 5px;
}
.paso-paso-emprendete ol {
  margin: initial;
}
.paso-paso-emprendete ol li {
  background: url('/assets_v2/img/icon_bg_pasopaso.png') no-repeat 20px 20px;
  list-style-position: inside;
  list-style-type: none;
  padding-top: 15px;
  padding-left: 70px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
}
.paso-paso-emprendete ol li strong {
  font-size: 18px;
}
.emprendete-calendario {
  padding-left: 30px !important;
}
.emprendete-calendario h4 {
  background-image: url('/assets_v2/img/icon_calendario.png');
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
.table td {
  border-top: initial;
  border-bottom: 1px solid #ccc;
}
.titulo-tabla {
  color: #0065a9;
  font-weight: bold;
  white-space: nowrap;
}

.viaje {
  display: block;
}
.nav-secundaria.temporal, .nav-secundaria.permanentes {
  display: none;
}
.masonry-brick {
  min-height: 135px !important;
}
.sello_chilesinpapeleo > img {
  position: absolute;
  right: 0;
}
.masonry-item {
  font-family: Helvetica, Arial, sans-serif;
}

.fichas-mujer > .span3 {
    width: 33.3%;
}

.img-info {
  content: url('../img/chileatiende-mujer-horizontal-que-es.jpg');
  margin: 10px auto 25px auto;
  max-width: 90%;
}

.red-atencion {
  width: 150px !important;
  margin-left: 6px !important;
}
.btn-redatencion {
  margin-bottom: 15px;
}

/* MEDIA QUERIES */


@media (min-width: 1200px) {
  .fichas-mujer .span3 {
    width: 33.3% !important;
  }
  .nav-principal div.span2 p.tab a {
    font-size: 22px !important;
  }  
}

@media (min-width: 1024px) {
  .nav-principal .span12.nav-secundaria-movil {
    display: none;
    font-family: desktop;
  }
  .nav-principal .span2 {
    height: 95px;
  }
  .nav-principal div.span2 p.tab a {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  header .nav-areas a {
    /* padding: 18px 21px; */
    font-size: 18px;
  }
  header .nav-areas .eventos {
    display: none;
  }
  .header-search form .main_search_input {
    width: 540px;
  }
  .contenedor-principal h3.bread {
    font-size: 22px;
  }
  .contenedor-principal .subcontenido .span6 .row ul li {
    height: 75px;
    padding: 5px 5px 5px 25px;
  }
  .contenedor-principal .subcontenido .span6 .row ul li a {
    font-size: 16px;
  }
  .contenedor-principal .subcontenido .span6 .row ul li span {
    font-size: 14px;
  }
  .contenedor-principal .nav-principal .span2 {
    padding-left: 15px;
  }
  .nav-principal .span12.nav-secundaria-movil {
    display: none;
    font-family: desktop;
  }
  .nav-principal div.span2 {
    min-height: 120px;
    height: 120px;
    padding-left: 30px;
    width: 20%;
  }
  .nav-principal div.span2 h3 {
    font-size: 22px;
  }
  .nav-principal div.selected {
    background-color: white;

  }
  .nav-secundaria div.span3 {
    padding-left: 25px;
  }
  .nav-secundaria div.span3 h2 {
    font-size: 22px;
  }
  header .header-top .search-bar form .main_search_input, header .header-top .cont-busqueda form .main_search_input {
    /*width: 450px;*/
    width: 400px;
  }
  .nav-principal div.span2 p.tab a {
    font-size: 18px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .row-fluid [class*="span"]:first-child {
      margin-left: 0;
  }  
  header .header-top .search-bar form .main_search_input, header .header-top .cont-busqueda form .main_search_input {
    width: 300px;
  }
}
@media (max-width: 767px){
  .row-fluid [class*="span"] {
    float: left;
  }
  header .header-top .search-bar form, header .header-top .cont-busqueda form {
    margin-right: 10px;
  }
  header .header-top .search-bar form .main_search_input, header .header-top .cont-busqueda form .main_search_input {
    width: 300px;
  }
}
@media (max-width: 640px) {
  body {
    background-image: none;
    background-color: #7a7979;
  }
  .fichas-mujer .span3 {
      width: 100% !important;
  }
  header .row-top {
    height: initial;
  }
  header .nav-areas a {
    padding: initial;
    font-size: 16px;
  }
  header .cont-busqueda .main_search_input {
    width: initial;
  }
  header form {
    width: initial;
  }
  .header-search {
    text-align: center;
  }
  .header-search form {
    width: auto;
    float: none;
    margin-top: auto;
  }
  .header-search form h3 {
    font-size: initial;
    color: #FFF;
    line-height: initial;
  }
  .header-search form .main_search_input {
    float: none;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-right: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 1px 6px 4px 0px #dddddd;
  }
  .header-search form .searchbtn {
    display: inline;
    float: none;
    border: none;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url('../img/lupa_buscador.png') 12px 12px no-repeat #f03f3d;
    text-indent: -9999px;
    margin-bottom: 10px;
    margin-left: -5px;
  }
  .contenedor-principal {
    padding: initial;
  }
  .contenedor-principal h3.bread {
    font-size: 14px;
  }
  .contenedor-principal .subcontenido {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contenedor-principal .subcontenido .span6 .cabecera h3 {
    color: #FFF;
    padding-left: 25px;
    font-size: initial;
  }
  .contenedor-principal .subcontenido .span6 .row ul li {
    height: initial;
  }
  .contenedor-principal .subcontenido .span6 .row ul li a {
    font-size: 14px;
  }
  .contenedor-principal .subcontenido .span6 .row ul li span {
    font-size: 12px;
  }
  .nav-principal .span12.nav-secundaria-movil {
    display: initial;
    font-family: mobile;
  }
  .nav-principal .span12.nav-secundaria-movil div.span3 {
    min-height: initial;
    padding-left: 25px;
  }
  .nav-principal .span12.nav-secundaria-movil div.span3 h2 {
    font-size: initial;
  }
  .nav-principal div.span2 {
    width: 100%;
    min-height: 30px;
    height: 65px;
    text-align: center;
  }
  .nav-principal div.span2[data-id="4"] {
    text-align: center;
  }
  .nav-principal div.span2 h3 {
    margin: initial;
    font-size: initial;
    margin-top: initial;
    line-height: initial;
  }
  .nav-principal div.selected {
    margin-top: initial;
  }
  header .header-top .search-bar form .main_search_input, header .header-top .cont-busqueda form .main_search_input {
    width: 300px;
  }
  .span12.nav-secundaria {
    display: none;
  }
  .titulo-tabla {
    white-space: initial;
  }
  .ficha #maincontent .participacion .opina {
    height: initial;
  }
  .ficha #maincontent .participacion .reporta-error {
    height: initial;
  }
}
@media (max-width: 580px) {
  .fichas-mujer .span3 {
      width: 100% !important;
  }
}