.print {
  display: none;
}
@media print {
  .print,
  .tab-content > .tab-pane {
    display: block!important;
  }
  .ficha #maincontent {
    border: none;
  }
  .panel-heading {
    border: none;
    background: transparent;
  }
  .no-disponible {
    font-weight: bold;
  }
  .panel-collapse {
    height: auto;
    display: block!important;
  }
  .no-print,
  #iframeBarra {
    display: none;
  }
  .logo-print {
    display: block;
  }
  .contenedor-pasos-flujo .span4 {
    display: none;
  }
  .contenedor-pasos-flujo .span8 {
    display: block;
  }
  .contenedor-pasos-flujo .span8 .cont-paso-contenido {
    display: block!important;
  }
  .contenedor-pasos-flujo .span8 .cont-paso-contenido h4.paso-titulo {
    display: block!important;
  }
}
